table {
    border-collapse: collapse;
    margin: 15px 0;
}

td, th {
    border: 1px solid black;
    padding: 5px 10px;
}

body {
    /*background-image: url("img/coffee_machine.jpeg");*/
    background-repeat: no-repeat;
    background: linear-gradient(to right, transparent, lightgrey);
    background-size: cover;
}
